body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
#brand-name {
  width: 80%;
  height: 180px;
  margin: 0 auto;
  border-top: 30px groove red;
  margin-top: 20px;

  box-shadow: 0px 0px 5px grey;
}

#page {
  width: 80%;
  height: 430px;
  border-bottom: 30px groove red;

  box-shadow: 0px 0px 5px grey;
  margin: 30px auto;
}
#result {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
}
#pro-btn {
  width: 211px;
  height: 200px;
  border: 0.5px solid #ccc;
  float: left;
  background: white;
  margin-top: 1.5px;
  cursor: pointer;
}
